.compendium-sidebar .directory-item.compendium[data-entry-id="brodericks-compendium.monsters"] img {
    content: url("../images/banner-monsters.webp");
}
.compendium-sidebar .directory-item.compendium[data-entry-id="brodericks-compendium.books"] img {
    content: url("../images/banner-books.webp");
}
.compendium-sidebar .directory-item.compendium[data-entry-id="brodericks-compendium.plants"] img {
    content: url("../images/banner-plants.webp");
}
.compendium-sidebar .directory-item.compendium[data-entry-id="brodericks-compendium.planttables"] img {
    content: url("../images/banner-planttables.webp");
}
