#compendium.sidebar-tab .directory-item.compendium[data-pack="brodericks-compendium.monsters"] img {
    content: url("../images/banner-monsters.webp");
}
#compendium.sidebar-tab .directory-item.compendium[data-pack="brodericks-compendium.books"] img {
    content: url("../images/banner-books.webp");
}
#compendium.sidebar-tab .directory-item.compendium[data-pack="brodericks-compendium.plants"] img {
    content: url("../images/banner-plants.webp");
}
#compendium.sidebar-tab .directory-item.compendium[data-pack="brodericks-compendium.planttables"] img {
    content: url("../images/banner-planttables.webp");
}
